<section class="tabs">
  <ng-container *ngIf="!generation?.count">
    Carregando Gerações...
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </ng-container>
  <div class="tabs__button__tabgeneration__container" *ngIf="generation?.count">
    <button mat-button *ngFor="let button of generation?.results; let i = index" (click)="generationChoosed(i)"
      class="tabs__button__tabgeneration" [ngClass]="{
            'tabs__button__tabgeneration--active': generationState[i],
            'tabs__button__tabgeneration--inactive': !generationState[i]
            }">
      Geração {{ i + 1}}
    </button>
  </div>

  <div>
    <ng-container *ngIf="(pokemonSpecies | async) === null">
      <mat-toolbar>
        <mat-toolbar-row>
          <span class="tabs__menu__title">
            Escolha uma geração de pokemons para prosseguir
          </span>
          <span class="tabs__menu__spacer"></span>
          <mat-icon class="tabs__menu__icon">
            navigate_next
          </mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </ng-container>
    <mat-tab-group *ngIf="(pokemonSpecies | async) !== null" (selectedTabChange)="activePokeOption($event.index)">
      <mat-tab *ngFor="let tab of pokemonSpecies | async">
        <ng-template mat-tab-label>
          <button mat-button (click)="getPokemonData(tab.url)" class="tabs__textbutton" style="padding: 0px">
            {{ tab.name | uppercase }}
          </button>
        </ng-template>

        <ng-container *ngIf="!pokemonChoosedSprites?.sprites">
          <mat-toolbar>
            <mat-toolbar-row>
              <span class="tabs__menu__title">
                Agora escolha um pokemons para consultar
              </span>
              <span class="tabs__menu__spacer"></span>
              <mat-icon class="tabs__menu__icon">
                navigate_next
              </mat-icon>
            </mat-toolbar-row>
          </mat-toolbar>
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </ng-container>
        <div *ngIf="pokemonChoosedSprites?.sprites" class="tabs__profile">
          <div class="tabs__profile__identity">
            <div class="tabs__profile__image__container">
              <img class="tabs__profile__image"
                [src]="pokemonChangeSprite ? pokemonChoosedSprites?.sprites?.front_default : pokemonChoosedSprites?.sprites?.back_default"
                [alt]="'pokemon ' + tab.name" (click)="changeImageSprites()" style="cursor: pointer" />
            </div>
            <div class="tabs__profile__text">
              <h1>{{ pokemonChoosedData?.name | uppercase }}</h1>
              <h2>{{ pokemonChoosedData?.names[1]?.name }}</h2>
              <h3>{{ pokemonChoosedData?.genera[2]?.genus | uppercase }}</h3>
              <mat-chip-list>
                <mat-chip *ngFor="let type of pokemonChoosedSprites?.types">{{ type?.type?.name | uppercase }}
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>

          <div class="tabs__profile__info">
            <div class="tabs__profile__info__code">#{{ pokemonChoosedData?.id }}</div>
            <div class="tabs__profile__info__textArea">
              {{ pokemonChoosedData?.flavor_text_entries[2]?.flavor_text | uppercase }}</div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <section>
